@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 400;
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30,18%,87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    background-color: var(--stone-100);
    color: var(--stone-600);
    line-height: 1.6;
    padding: 40px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

article {
    background-color: var(--white);
    max-width: 736px;
    border-radius: 24px;
    padding: 40px;
}

img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 32px;
}

h1, h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    color: var(--stone-900);
    margin: 0px 0 16px;
}

h2 {
    font-size: 28px;
    color: var(--brown-800);
    margin: 24px 0 16px;
}
section {
    margin: 32px 0;
}
section:first-of-type {
    background-color: var(--rose-50);
    padding: 24px;
    border-radius: 12px;
    margin: 30px 0;
}

section:first-of-type h2 {
    color: var(--rose-800);
    font-size: 20px;
    margin: 0 0 16px 0;
}

strong {
    font-weight: 600;
    color: var(--stone-600);
}

hr {
    border:0;
    height: 1px;
    background-color: var(--stone-150);
    margin-top: 40px;
}

ul, ol {
    margin: 20px;
}
ul li, ol li {
    padding-inline-start: 16px;
    margin: 8px 0;
}
section:first-of-type ul li::marker {
    color: var(--rose-800);
}
ul li::marker {
    color: var(--brown-800);
}
ol li::marker {
    color: var(--brown-800);
    font-weight: 700;
}


table {
    width: 100%;
    border-collapse: collapse;
}
table td {
    padding: 12px 0px;
}

table td:first-child {
    padding-left: 32px;
    color: var(--stone-600)
}

table td:last-child {
    font-weight: 700;
    color: var(--brown-800);
}


table tr {
    border-bottom: 1px solid var(--stone-150);
}

table tr:last-child {
    border-bottom: none;
}
.attribution a {
    color: var(--brown-800);
    text-decoration: none;
    font-weight: 600;
}

.attribution a:hover {
    text-decoration: underline; 
    color: var(--rose-800); 
}
.attribution {
    margin-top: 24px;
    text-align: center;
    font-size: 11px;
}